#contents-wrap {
    height:100%;
    padding:0;
    overflow: hidden;
    #contents {
      height:100%;
      padding:0;
      #top {
        position: absolute;
        width:100%;
        height:100%;
        top:0;
        left:0;
        overflow: hidden;
        #stage {
          position: absolute;
          width:100%;
          height:100%;
          top:0;
          left:0;
          overflow: hidden;
          #images {
            position:absolute;
            width:100%;
            height:100%;
            top:0;
            left:0;
            z-index:0;
            overflow:hidden;
            li {
              position:absolute;  
              top:0;
              left:0;
              width:100%;
              height:100%;
              background-size:cover;
              background-position: 50% 50%;
              z-index:0;
              opacity:0;
              transform: scale(1.14,1.14);
              transition: opacity 0, transform 0;
            }
            .current {
                top:0;
                left:0;
                z-index:2;
                opacity:1;
                transform: scale(1,1);
                transition: opacity 1.6s ease-out, transform 7.2s linear;
            }
            .hide {
                z-index: 1;
            }
          }
        }
      }
    }
  }
  
  

  
  
  
  